html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
.container {
  text-align: center;
}
.subtitle {
  color: gray;
}




html {
  background: url(writing-background-action.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.CodeMirror {
    background-color: transparent !important;
    width: 100%;
    height: 100%;
    padding: 5%;
}
