/* Add styles for your app here */

/* Hide printers box by default */
.printer-list {
    display: none;
}

/* Activate printers box, dynamically added by printers.js */
.printer-list-active {
    display: initial;
}


html {
  background: url(../img/writing-background-action.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.CodeMirror {
    background-color: transparent !important;
}
